.card {
  width: 450px;
  min-width: 45%;
  box-shadow: 0px 0px 3px 2px var(--shadow);
  transition: all 0.2s ease-out;
}
.card:hover {
  transition: all 0.2s ease-out;
  background-color: var(--hover);
  box-shadow: 0px 0px 6px 2px var(--shadow);
  cursor: pointer;
}
