@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: sans-serif;
}
:root {
  --primary: #fff;
  --tags: #5783db;
  --text-color: #000;
  --secondary: #000000;
  --header: #fafafa;
  --border: #9da3ad;
  --divider: rgb(207, 207, 207);
  --hover: rgb(249, 249, 249);
  --shadow: rgba(0, 0, 0, 0.2);
}
html[data-theme="light"] {
  --primary: #fff;
  --secondary: #000000;
  --text-color: #000;
  --header: #fbfafb;
  --divider: rgb(207, 207, 207);
  --border: #8492a6;
  --tags: #0625e8;
  --shadow: rgba(0, 0, 0, 0.2);
}

html[data-theme="dark"] {
  --primary: #343541;
  --secondary: #ffffff;
  --text-color: #ffffffbe;
  --header: #2b2c3a;
  --border: #abb9c9;
  --tags: #75d0b8;
  --divider: #272d32;
  --hover: #2e2e3a;
  --shadow: rgba(255, 255, 255, 0.5);
}
